.dashboard_layout {
  display: flex;

  aside {
    min-width: 16rem;
    height: 100vh;
    padding: 16px;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    box-shadow: #959da533 0 8px 24px;

    .logo {
      padding: 12px;
    }

    .nav_items {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid #ebebeb;

      a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px;
        border-radius: 8px;
        color: #0d0d0d;
        font-size: 14px;

        &.active,
        &:hover {
          background-image: linear-gradient(to right, #f05b4e, #f05b4ed3);
          box-shadow: 0px 0px 8px rgba(240, 91, 78, 0.5);
          color: #fff;

          img {
            filter: brightness(0) invert(1);
          }

          .circle {
            border-color: #fff;
          }
        }

        .circle {
          min-width: 10px;
          min-height: 10px;
          border-radius: 50%;
          border: 2px solid #929292;
        }
      }

      img {
        height: 20px;
      }

      .accordion {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .accordion-item {
        border: 0 !important;

        .accordion-button {
          background: none !important;
          box-shadow: none !important;
          padding: 8px !important;
          @include space-between();
          font-size: 14px;
          border-radius: 8px;

          &.active,
          &:hover {
            background: #fafafa !important;
          }

          > div {
            display: flex;
            align-items: center;
            gap: 12px;
          }

          &::after {
            display: none !important;
          }
        }

        .accordion-body {
          padding: 8px 0 8px 20px;
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }
    }

    .logout {
      border-top: 1px solid #ebebeb;
      margin-top: auto;
      padding: 24px 0;

      .link {
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 8px;
        color: #0d0d0d;
        font-size: 14px;
        cursor: pointer;
        img {
          height: 20px;
        }
      }
    }
  }

  main {
    width: 100%;
    padding: 32px;

    .page_head {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 28px;
        color: #0d0d0d;
      }

      p {
        color: #777;
        font-size: 14px;
      }
    }
  }
}
