.hero_section {
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-size: cover;
  @media (min-width: 568px) and (max-width: 992px) {
    height: 75vh;
  }

  .hero-img {
    width: 600px;
    @media (max-width: 567px) {
      width: 270px;
    }
    @media (min-width: 568px) and (max-width: 768px) {
      width: 300px;
    }
    @media (min-width: 768px) and (max-width: 1145px) {
      width: 550px;
    }
  }

  .hero-shape {
    position: absolute;
    right: 0;
    width: 850px;
    @media (max-width: 567px) {
      width: 270px;
    }
    @media (min-width: 568px) and (max-width: 768px) {
      width: 300px;
    }
    @media (min-width: 768px) and (max-width: 1145px) {
      width: 443px;
    }
  }
  .hero-content {
    top: 38%;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    @media screen and (max-width: 767px) {
      top: 27%;
    }
    .hero-header {
      @media (min-width: 768px) and (max-width: 1145px) {
        font-size: 32px;
        top: 38%;
      }
    }
    .hero-content-text {
      width: 75%;
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (min-width: 768px) and (max-width: 1145px) {
        width: 100%;
      }
    }
    .hero-desc {
      font-size: 17px;
      width: 75%;
      text-wrap-style: pretty;
      color: #828282;
      @media (min-width: 768px) and (max-width: 1145px) {
        width: 89%;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.about_section {
  position: relative;
  @media screen and (max-width: 767px) {
    .about-shape {
      display: none;
    }
  }
}

.about-shape {
  position: absolute;
  top: 10%;
  left: 0;
  height: 580px;
  z-index: 11;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  @media (max-width: 769px) {
    display: none;
  }
}

.how_section {
  position: relative;
  .how-shape {
    @media screen and (max-width: 767px) {
      display: none;
    }
    position: absolute;
    top: 10%;
    right: 0;
    height: 580px;
    z-index: 11;
    @media (max-width: 1200px) {
      right: -105px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .how-desc {
    width: 66%;
    text-wrap-style: stable;
    margin-inline: auto;
    color: rgba(13, 13, 13, 0.5019607843);
    font-weight: 600;
    margin-bottom: 44px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .how-card-item {
    width: 300px;
    padding: 20px;
    @media (min-width: 768px) and (max-width: 1200px) {
      width: 31%;
    }
  }
}

.experience_section {
  .experience-img {
    width: 230px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media screen and (max-width: 767px) {
        height: 230px;
        object-fit: contain;
      }
    }
  }
  .experience-header {
    @media (max-width: 567px) {
      font-size: 28px;
    }
  }
}

.testimonial_section {
  .test-desc {
    width: 66%;
    text-wrap-style: stable;
    margin-inline: auto;
    color: rgba(13, 13, 13, 0.5019607843);
    font-weight: 600;
    margin-bottom: 44px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .slick-list {
    overflow-x: hidden;
  }
  .slick-arrow {
    display: none !important;
  }
}

.download_section {
  .download-desc {
    color: #009090;
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      width: 70%;
    }
  }
  .download-img {
    width: 500px;
    @media screen and (max-width: 768px) {
      width: 300px;
    }
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .download-app-img {
    width: 400px;
    @media (max-width: 768px) {
      width: 300px;
    }
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
