@import "./scss/_config";

body {
  position: relative;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Vazirmatn", sans-serif;

  @import "./scss/layout";
  @import "./scss/error-page";
  @import "./scss/home";
  @import "./scss/form_ui";

  main {
    min-height: calc(100dvh - 300px);
  }
}
