@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@import "./scss/config";
@import "./scss/layout";
@import "./scss/home";

:root {
  --main-color: #f05b4e;
  --main-color-50:#FF5B4B0A;
  --second-color: #0d9595;
  --yellow-color: #faae43;
  --dark-color: #373737;
}

.text-main-color {
  color: var(--main-color);
}

.bg-main-color {
  color: var(--main-color);
}

.bg-main-50{
  background-color: var(--main-color-50);
}

.text-second-color {
  color: var(--second-color);
}

.bg-second-color {
  background-color: var(--second-color);
}

.text-dark-color {
  color: var(--dark-color);
}

.text-yellow-color {
  color: var(--yellow-color);
}

.btn-solid-main {
  background-color: var(--second-color);
  color: #fff;
  width: fit-content;
  opacity: 1;
  border-radius: 72px;
  padding-block: 12px;
  padding-inline: 30px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  font-family: "Vazirmatn", sans-serif;
  overflow-x: hidden;
  background-color: #FFFCFC;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  height: 300px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li[data-sonner-toast=""] {
  padding: 12px;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  background-color: unset;
  color: #000;
}

.row {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lead{
  font-size: 16px;
}

.section-icon img {
    width: auto;
    height: auto;
  }

  .about-shape {
    position: absolute;
    top: 10%;
    left: 0;
    height: 580px;
    z-index: -11;
    @media (max-width: 769px) {
      left: -110px !important;
    }
  }